{{>header}}


	<div class="container-fluid container--index">
	{{!-- intro --}}
	{{#with first_slide}}
	{{/with}}
	<div class="container">
	<div class="row">
	<div id="testId"></div>
			{{#each instruction_points}}
				<section class="container--post-block {{display_options}}">
					<div class="content-container"
					style="background-image: url({{{background_image}}});">
						<p>{{date}}</p>
						<p class="huge">{{header}}</p>
						<p>{{tagline}}</p>
						<a target="_blank" class="button" href="{{link}}">Learn more</a>
						{{image}}
					</div>
				</section>
			{{/each}}
	</div>
	</div>


	</div>


{{>footer}}