{{>header}}
{{#with blog_post}}
<title>{{title}}</title>
<link rel="canonical" href="{{{canon_link}}}" />
{{/with}}

	<div class="container-fluid container--post">
        <div class="container">
        {{#with blog_post}}
        	

            <div class="row {{display_options}}">
                <div class="col-12 offset-0 col-md-10 offset-md-1 header-image">
                    <img class="img-fluid" src="{{{background_image}}}" alt="{{title}}"/>
                </div>
                <div class="col-12 offset-0 col-md-10 offset-md-1">
                    <h1>{{title}}</h1>
                    <h2><i class="fas fa-feather-alt"></i> {{tagline}}</h2>
                    <h3><i class="far fa-clock"></i> {{date}}</h3>
                    <div class="quill-container">
                        {{{post}}}
                    </div>
                </div>
            </div>
            {{/with}}
            <div id="disqus_thread"></div>
            <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://bellandweight.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>              
        </div>
	</div>


{{>footer}}